html {
  @apply bg-white;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  overflow-x: hidden;
}

.nav {
  background-color: rgba(255, 255, 255, 0.85);
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prose .heading-link {
  @apply text-gray-900;
}

.animate-record-spin {
  animation: spin 5s linear infinite;
}

@media (prefers-color-scheme: dark) {
  html {
    @apply bg-black;
  }

  .nav {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .prose blockquote {
    @apply text-gray-100;
  }

  .prose code {
    @apply text-indigo-500 bg-indigo-900 bg-opacity-25;
  }

  .prose {
    @apply text-white;
  }

  .prose strong {
    @apply text-white;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4 {
    @apply text-white;
  }

  .prose .heading-link {
    @apply text-white;
  }
}
