html {
  @apply bg-white;
  scroll-behavior: smooth;
  transition: background-color 0.1s;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  overflow-x: hidden;
}

.nav {
  background-color: rgba(255, 255, 255, 0.85);
  transition: background-color 0.1s;
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prose .heading-link {
  @apply text-gray-900;
}

.animate-record-spin {
  animation: spin 5s linear infinite;
}

html.dark {
  @apply bg-black;
}

.dark .nav {
  background-color: rgba(0, 0, 0, 0.85);
}

.dark .prose blockquote {
  @apply text-gray-100;
}

.dark .prose code {
  @apply text-indigo-500 bg-indigo-900 bg-opacity-25;
}

.dark .prose {
  @apply text-white;
}

.dark .prose strong {
  @apply text-white;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4 {
  @apply text-white;
}

.dark .prose .heading-link {
  @apply text-white;
}
